<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem Vindo!
    </mat-card-title>
    <mat-card-subtitle class= "subtitle">
        Sistema para exemplificar a construçao de um cadastro em Angular com material design
    </mat-card-subtitle>
</mat-card>
<mat-card class="home mat-elevation-z3">
    <mat-card-title class="newsTitle">
        Notícias
    </mat-card-title>
    <mat-card-subtitle class= "newsSubtitle">
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed magna libero. Maecenas dignissim imperdiet nisl in dapibus. Fusce vestibulum neque nulla, imperdiet feugiat enim dapibus id. Ut vel scelerisque ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent et vehicula diam. In hac habitasse platea dictumst. Suspendisse fringilla quam id ante efficitur, et gravida nunc rutrum. Sed nec felis sit amet eros sagittis consequat eget sed est. Morbi vel iaculis risus, ut malesuada mauris.

            Sed eu quam in enim cursus tempor sed vel turpis. Pellentesque vestibulum scelerisque dictum. Etiam ac turpis eu leo aliquam finibus. Nulla facilisi. Phasellus in leo at dui efficitur rhoncus. Praesent ullamcorper magna vitae sollicitudin facilisis. Ut et ante nunc. Morbi mattis, arcu quis rhoncus tempor, sem enim efficitur nulla, ut vestibulum nisl mi et enim. Mauris gravida sed quam ac vulputate. Cras vitae enim ligula.
            
            Sed libero ante, egestas consequat elit nec, pretium pretium elit. Nam a dui tempor, venenatis enim vel, egestas erat. Duis ex quam, fringilla in quam ac, dignissim consectetur massa. Duis a hendrerit metus. Duis velit ante, pellentesque id diam et, placerat consectetur justo. Mauris euismod id sem sed commodo. Ut feugiat mauris ac dui fringilla, nec porttitor purus efficitur. Vestibulum vitae felis erat. Duis molestie vitae mauris non consectetur.
                </p>
    </mat-card-subtitle>
</mat-card>