.sidenav {
    background-color: #6c1d85;
    width: 150px;
}

.sidenav a{
    color: #FFF;
}

.sidenav i{
    padding-right: 10px;
}

.content {
    padding: 16px;
    color: #000;
    background-color: #1f1e1e;
    height: 820px;
}